@page "/login"
@inject NavigationManager NavigationManager
@inject first_web.Service.AuthService AuthService
@using System.ComponentModel.DataAnnotations

<PageTitle>Login</PageTitle>

@*<div class="login-container">
    <div class="logo-container" style="margin-bottom: 0;">
        <img src="todo.png" alt="Logo" width="200" height="200" />
    </div>
    <h2>Login</h2>
    <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin" style="margin-top: 0;">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="email">Email:</label>
            <InputText id="email" @bind-Value="loginModel.Email" class="form-control" />
            <ValidationMessage For="@(() => loginModel.Email)" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <InputText id="password" @bind-Value="loginModel.Password" type="password" class="form-control" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </EditForm>
</div>*@


<div class="container h-100">
    <div class="row justify-content-sm-center h-100">
        <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
            <div class="text-center my-5">
                <img src="icon.png" alt="logo" width="120" />
            </div>
            <div class="text-center my-5">
                <h1 class="fs-2 fw-bold">TODO AFWAN</h1>
            </div>
            <div class="card shadow-lg">
                <div class="card-body p-5">
                    <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                    <EditForm Model="@loginModel" OnValidSubmit="HandleLogin">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="email">E-Mail Address</label>
                            <InputText id="email" class="form-control" @bind-Value="loginModel.Email" />
                            <ValidationMessage For="@(() => loginModel.Email)" />
                        </div>

                        <div class="mb-3">
                            <label class="mb-2 text-muted" for="email">Password</label>
                            <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
                            <ValidationMessage For="@(() => loginModel.Password)" />
                        </div>

                        <div class="d-flex align-items-center">
                            <button type="submit" class="btn btn-primary ms-auto">Login</button>
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="text-center mt-5 text-muted">
                Copyright &copy; 2024 &mdash; Latihan FrontEnd
            </div>
        </div>
    </div>
</div>

@code {
    private LoginModel loginModel = new LoginModel();

    private void HandleLogin()
    {
        AuthService.Login(loginModel.Email, loginModel.Password);

        NavigationManager.NavigateTo("/todo");
    }

    public class LoginModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }

        [Required]
        public string Password { get; set; }

        public bool RememberMe { get; set; }
    }
}